@charset "utf-8";
/* CSS Document */

#header{
	background-color: #0C9;
	position: absolute;
	left: 120px;
	top: 130px;
	height: 90px;
} 
#top{
	position: absolute;
	left: 90%;top:1px;
	width:1px;
float:left;
}
#top li a:hover{ color:#000; background-color:#FC9;}
#top li a{ display:block; color:#FC9; text-decoration:none; font-size:14px; font-weight:bold; }


#menu{ line-height:40px; padding-left:30px;}
#menu ul{position:absolute; top:40px; display:none;}
#menu li{ float:left; position:relative;}
#menu li a{ display:block; padding: 0 15px; color:#FC9; text-decoration:none; font-size:14px; font-weight:bold;}
#menu li a:hover{ color:#000; background-color:#0FF;}
#menu li:hover ul{ display:block;}

#menu ul li{ float::none;}
#menu ul li a{color:#999; background-color:#9FF; text-align:center; font-weight:normal;}
#menu ul a:hover{ background:#C39; color:#CC6;}


ul{margin:0;padding:0;list-style-type: none;}

/*旋转  */
#box1 src{float:left;}
@keyframes donghua {
0% {transform:rotate(0deg);}
100% {transform:rotate(360deg);}
}

.box1{width: 120px;height: 120px; margin:0px 150px;animation: donghua 3s ;position:absolute;  left:60px; top:2px;}	
.box1 img{  width:100%;  }
.wz{ padding-left:350px; font-size:45px; font-weight:bolder;  position:absolute; left:100px; top:35px;}
